html{
    background-color:#100f0e;
    

}


body {
    color: #CCCCCC;
    margin-left:1em ;
    margin-right:1em ;
    margin-top:0.1em ;
    margin-bottom:0.1em ;
    padding:1em; 
    height:100%;
    
}
.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
 }

#name {
font-size:5em;
font-family: serif;
font-weight: bold;
text-align: left;
margin-bottom:1%;
}
#title {
font-size:2em;
font-family: serif;
margin-top:1%;
text-align: left;

}

#aboutme{
    text-align:left;
    font-size:1.3em;
    margin-top:5%;
    padding:1%;
    line-height: 140%;
}

#projects{
    margin-top:5%;
    text-align: left;
    font-size:1.3em;
    padding:1%;
    border:1px;
    border-style:solid;
    border-color: #CCCCCC;
    line-height:130%;
    margin-bottom:5%;
    width:20em;
    
}

.Site-content {
    flex: 1;

  }


.footer {
    right:0;
    bottom:0;
    left:0;
    padding:1rem;
    text-align: center;
    height: 6rem;
}

a:link {
    text-decoration: none;
    color:white;
    
}

a:visited{
    text-decoration: none;
    color: #CCCCCC;
}